body{
    background-color:#1f2544;
}
h1{
    color:#0dff00;
    text-align:center;
}
footer{
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
.img-container{
    position: relative;
    width: 80%;
    height: auto;
    border: 3px solid #b41484;
    border-radius: 6px;
    overflow: hidden; 
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    z-index: 1;
}